<form class="grid grid-cols-4 gap-4 bg-gray-100 p-4 rounded-md shadow-md">
  <div class="col-span-1 flex items-center text-gray-700 font-bold">Todo:</div>

  <div class="col-span-2 flex">
    <input type="text" placeholder="What's next?" name="title"
      class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />

    <input type="date" name="dueDate"
      class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4" />
  </div>

  <div class="col-span-1">
    <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">
      Add
    </button>
  </div>
</form>
<div class="col-span-4 mt-4 flex justify-between">
  <h5 class="text-lg font-semibold mb-2">Overdue</h5>
  <ul class="space-y-2">
    <li class="flex items-center task-item">
      <input type="checkbox" id="todo1" name="todo1" class="mr-2 rounded">
      <label for="todo1" class="text-gray-800">Task 1</label>
      <a href="#" class="ml-auto">
        <!-- Font Awesome Trash icon -->
        <i class="fas fa-trash text-red-600 hover:text-red-700"></i>
      </a>
    </li>


    <li class="flex items-center task-item">
      <input type="checkbox" id="todo2" name="todo2" class="mr-2 rounded">
      <label for="todo2" class="text-gray-800">Task 2</label>
      <a href="#" class="ml-auto">
        <!-- Font Awesome Trash icon -->
        <i class="fas fa-trash text-red-600 hover:text-red-700"></i>
      </a>
    </li>
    <li class="flex items-center task-item">
      <input type="checkbox" id="todo3" name="todo3" class="mr-2 rounded">
      <label for="todo3" class="text-gray-800">Task 3</label>
      <a href="#" class="ml-auto">
        <!-- Font Awesome Trash icon -->
        <i class="fas fa-trash text-red-600 hover:text-red-700 trash-icon"></i>
      </a>

    </li>
  </ul>
  <h5>Due Today</h5>
  <h5>Due Later</h5>
</div>
<!-- Main Content -->
<main>

  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <% for (var i=0; i < allTodos.length; i++) { %>
      <tr>
        <td>
          <%= allTodos[i].title %>
        </td>
        <td>
          <%= allTodos[i].description %>
        </td>
        <td>
          <%= allTodos[i].status %>
        </td>
      </tr>
      <% } %>
  </table>
</main>